genai 
langchain
streamlit
python-dotenv
PyPDF2
langchain                              
langchain-community                     
langchain-core                         
langchain-google-genai                 
langchain-text-splitters   
google-ai-generativelanguage            0.6.6
google-api-core                         2.19.2
google-api-python-client                2.143.0
google-auth                             2.34.0
google-auth-httplib2                    0.2.0
google-generativeai                     0.7.2
-e .
