genai 
langchain
streamlit
python-dotenv
PyPDF2
langchain                              
langchain-community                     
langchain-core                         
langchain-google-genai                 
langchain-text-splitters   
google-ai-generativelanguage            
google-api-core                         
google-api-python-client                
google-auth                             
google-auth-httplib2                    
google-generativeai                     
-e .
